.title {
  text-align: center;
  margin-top: 0px;
  padding-top: 20px;
}

.sub-title {
  text-align: center;
  margin-top: 10px;
  color: grey;
}

.tool-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 5px grey;
  padding: 30px;
  border-radius: 25px;
  margin: 20px;
  margin-bottom: 50px;
  width: 200px;
  height: 160px;
}

@media screen and (max-width: 1058px) {
  .tool-card {
    margin-top: 50px;
  }
}

.tools-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 50px;
}

a { 
  text-decoration: none; 
  transition: all .4s ease-in-out; 
}

a:hover {
  transform: scale(1.1);
}

.card-title {
  text-align: center; 
}

.search-bar-container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.search-bar {
  border-color: #53af5b !important;
  width: 40%;
}

.share-icon {
  display: flex;
  align-self: flex-end;
}

div.dark {
  --background-color: #242424;
  background-color: var(--background-color);
}

div.light {
  --background-color: lavender;
  background-color: var(--background-color);
}

body {
  background-color: var(--background-color);
  background-color: lavender;
  margin: 0;
}

.dark-mode-button {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  padding-right: 20px;
}